#background-filler {
  position: absolute;
  height: 100vh;
  width: 100%;
  z-index: -10000;
  background-color: #222;
}

.App {
  text-align: center;
  background-color: #222;
  color: white;
}

.form-horizontal {
  width: 40% !important;
  margin-left: 30%
}

.carousel-image {
  display: block;
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.review-form {
  align-items: left;
  text-align: left;
}

.search-table, .search-table a {
  color: white;
}

.search-image {
  width: 30vw;
}

.search-details {
  width: 70vw;
  /*display: flex;
  flex-direction: row;
  align-items: center;*/
}

.card, .card .card-body, .list-group, .list-group-item {
  background-color: inherit;
  color: white;
  border: none;
}

.search-form {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.search-form > button {
  height: 100%;
}

.search-table-row {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #fff;
}

.search-rating {
  margin-left: 20px;
}

.search-details {
  padding: 20px;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.search-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 20px;
}

.search-header > h2 {
  flex-grow: 1;
  text-align: right;
  margin-right: 60px;
}

.search-actors {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
}

.search-details p {
  margin-bottom: 0;
  display: inline-block;
}

.loading-div {
  color: white;
  font-size: 6em;
}

.carousel-caption > div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 30px;
}